 /*----------------------- Theme Color File -------------------*/
.top-header .breaking-news .list a:hover,.top-header .social-icon li.icon a:hover,#mega-menu-holder>ul li.active> a,#mega-menu-holder>ul> li:hover> a,#mega-menu-holder ul.dropdown li a:hover,#main-slider-one .read-more a:hover,
.blog-grid-style .single-blog-post .author-meta li.date a:hover,.blog-grid-style .single-blog-post .title a:hover,.single-blog-post .share-meta li a:hover,
.single-blog-post .share-meta li button:hover,.theme-main-sidebar .about-me p:first-letter,.theme-main-sidebar .sidebar-categories ul li a:hover,
.theme-main-sidebar .sidebar-trending-post .single-trending-post:hover .post h6 a,body .theme-button-one:hover,.theme-footer ul li a,.main-banner-slider-two.owl-theme .owl-nav [class*=owl-],
.blog-fullwidth-post .single-blog-post .post-meta-box .title a:hover,.blog-fullwidth-post .single-blog-post .author-meta li.date a:hover,.theme-inner-banner ul li a:hover,
.blog-masonry-post .single-blog-post .post-meta-box .title a:hover,.blog-image-cover-post .single-blog-post .overlay .theme-button-one,.blog-details .main-post-wrapper .bottom-content .share-meta .share-option .share-icon li a:hover,
.blog-full-width .blog-details .center-share-option li a:hover,.about-me-wrapper .main-text-wrapper ul li a:hover,.back-to-home a:hover,.contact-us .back-to-home a:hover {
  color:#fd032d;
}
.scroll-top,.switcher .switch-menu h5.title,.switcher .switch-btn button,.top-header .news-bell,.top-header .social-icon li.search-button .search,#searchWrapper #close-button:before,
#searchWrapper #close-button:after,.blog-grid-style .single-blog-post .author-meta li.tag a,.single-blog-post .image-box .tag a,
.theme-main-sidebar .sidebar-trending-post .single-trending-post .post ul li.tag,body .theme-button-one,.theme-main-sidebar .sidebar-tags ul li a:hover,
.theme-pagination ul li a:hover,.theme-pagination ul li.active a,.main-banner-slider-two.owl-theme .owl-nav [class*=owl-]:hover,.blog-fullwidth-post .single-blog-post .author-meta li.tag a,
.blog-image-cover-post .single-blog-post .overlay .theme-button-one:hover,.blog-details .main-post-wrapper .author-meta li.tag a,.blog-details .main-post-wrapper .mark-text .icon,
.blog-details .main-post-wrapper .list-item li:before,.blog-details .main-post-wrapper .bottom-content .tag-meta li a:hover,.blog-details .main-post-wrapper .bottom-content .share-meta .share-option:hover button,
.comment-meta .single-comment .comment .reply:hover,.blog-full-width .blog-details .blog-title ul li.tag a,.collapse-button .icon-bar,#loader span {
  background: #fd032d;
}
body .theme-button-one,.theme-main-sidebar .sidebar-tags ul li a:hover,.main-banner-slider-two.owl-theme .owl-nav [class*=owl-],
.blog-image-cover-post .single-blog-post .overlay .theme-button-one:hover,.comment-form form input:focus,.comment-form form textarea:focus {
  border-style: solid;
  border-color:#fd032d;
  /* border-color:#d0344e; */
}
.contact-us .contact-form textarea:focus,.contact-us .contact-form input:focus {border-bottom-color:#d0344e;}


/* .theme-main-sidebar .sidebar-title:before */
